.signInBox,.signUpBox {
  width:420px;
  margin:200px auto;
  .signInBox-content,.signUpBox-content {
    width:300px;
    margin: 0 auto;
    padding: 20px 0 50px 0;
  }
}

.hidden {
  display:none;
}
