.chatBox {
  position: absolute;
  overflow: auto;
  width:100%;
  height:90%;
}

body {
  background-color: #eee;
  overflow: hidden;
  margin:0;
  padding:0;
}

html {
  width: 100%;
  height: 100%;
  overflow:auto;
}
